<div class="image-card">
  <h2 class="image-title">{{ pageTitle() }}</h2>
  <div class="w-full max-w-xl mx-auto">
    <form novalidate>
      @let eventField = historicEventForm['event'];
      <label for="event">
        <span>Event:</span>
        <input id="event" type="text" [formField]="eventField" />
      </label>
      <app-form-field-error [formField]="eventField" />

      @let descriptionField = historicEventForm['description'];
      <label for="description">
        <span>Description:</span>
        <textarea id="description" type="text" [formField]="descriptionField"
          rows="5"
        ></textarea>
      </label>
      <app-form-field-error [formField]="descriptionField" />
      <button type="submit" [disabled]="isLoading() || !hasRequiredData()" (click)="generateImage($event)">Generate</button>
    </form>
  </div>
  <app-image-display [image]="newImage()" [isLoading]="isLoading()" [isError]="isError()" [errMsg]="errorMsg()" />
</div>
