<div class="image-card">
  <h2 class="image-title">{{ pageTitle() }}</h2>
  <div class="w-full max-w-xl mx-auto">
    <form novalidate>
      <label for="event">
        <span>Event:</span>
        <input id="event" type="text" [formField]="historicEventForm.event" />
      </label>
      @if ((historicEventForm.event().touched() || historicEventForm.event().dirty()) && historicEventForm.event().invalid()) {
        @let eventErrors = historicEventForm.event().errors();
        @for (e of eventErrors; track $index) {
          <p>{{ e.message }}</p>
        }
      }
      <label for="description">
        <span>Description:</span>
        <input id="description" type="text" [formField]="historicEventForm.description" />
      </label>
      @if ((historicEventForm.description().touched() || historicEventForm.description().dirty()) && historicEventForm.description().invalid()) {
        @let descriptionErrors = historicEventForm.description().errors();
        @for (e of descriptionErrors; track $index) {
          <p>{{ e.message }}</p>
        }
      }
    </form>
    <button [disabled]="isLoading() || !hasRequiredData()" (click)="generateImage($event)">Generate</button>
  </div>
  <div>
    @if (isLoading()) {
      <div>Loading...</div>
    } @else if (isError()) {
      <div>Error: {{ errorMsg() }}</div>
    } @else {
      @if (newImage(); as img) {
        <img src="{{ img }}" alt="Generated Image" />
      } @else {
        <div>No image generated yet.</div>
      }
    }
  </div>
</div>
