<div class="edit-image-card">
  <h2 class="edit-image-title">{{ pageTitle() }}</h2>
  @if (templateKeyId()) {
    <p>templateKey: {{ templateKeyId() }}</p>
  }
  <div class="w-full max-w-xl mx-auto">
    <app-file-uploader (fileChanged)="onFileChanged($event)" />
    <button [disabled]="!hasUrl() || isLoading()" (click)="generateImage($event)">Generate</button>
  </div>
  <div>
    @if (isLoading()) {
      <div>Loading...</div>
    } @else if (isError()) {
      <div>Error: {{ errorMsg() }}</div>
    } @else {
      @if (newImage(); as img) {
        <img src="{{ img }}" alt="Generated Image" />
      } @else {
        <div>No image generated yet.</div>
      }
    }
  </div>
</div>
