<div class="nav-header">
  <span class="nav-title-icon">ITH</span>
  <span class="nav-title-text">Intelligent Task Hub</span>
</div>
<ul class="nav-list">
  <li>
    <a routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" aria-label="Home">
      <app-home-icon class="nav-icon" />
      <span class="nav-text">Home</span>
    </a>
  </li>
  <li>
    <a routerLink="/edit-image/glass-bottle-souvenir" routerLinkActive="nav-active" class="nav-link" aria-label="Glass Bottle Souvenir">
      <app-bottle-icon class="nav-icon" />
      <span class="nav-text">Glass Bottle Souvenir</span>
    </a>
  </li>
  <li>
    <a routerLink="/edit-image/figurine" routerLinkActive="nav-active" class="nav-link" aria-label="Figurine">
      <app-figurine-icon class="nav-icon" />
      <span class="nav-text">Figurine</span>
    </a>
  </li>
  <li>
    <a routerLink="/edit-image/map" routerLinkActive="nav-active" class="nav-link" aria-label="3D Map">
      <app-map-icon class="nav-icon" />
      <span class="nav-text">3D Map</span>
    </a>
  </li>
  <li>
    <a routerLink="/edit-image/diecast" routerLinkActive="nav-active" class="nav-link" aria-label="Diecast">
      <app-car-icon class="nav-icon" />
      <span class="nav-text">Diecast Vehicle</span>
    </a>
  </li>
  <li>
    <a class="nav-link" aria-label="Country">
      <app-flag-icon class="nav-icon" />
      <span class="nav-text">Country</span>
    </a>
  </li>
  <li>
    <a class="nav-link" aria-label="Historic Events">
      <app-history-icon class="nav-icon" />
      <span class="nav-text">Historic Events</span>
    </a>
  </li>
</ul>
