<div class="nav-header">
  <span class="nav-title-icon">ITH</span>
  <span class="nav-title-text">Intelligent Task Hub</span>
</div>
<ul class="nav-list">
  @for (navItem of navItems; track navItem.id) {
    <li [routerLink]="navItem.path" routerLinkActive="nav-active" [routerLinkActiveOptions]="{ exact: navItem.isExact || false }" class="nav-link" [attr.aria-label]="navItem.label">
      <ng-container  class="nav-icon" [ngComponentOutlet]="navItem.iconComponent" />
      <span class="nav-text">{{ navItem.label }}</span>
    </li>
  }
</ul>
