<div class="image-card">
  <h2 class="image-title">{{ pageTitle() }}</h2>
  <div class="w-full max-w-xl mx-auto">
    <form novalidate>
      <label for="country">
        <span>Country:</span>
        <select [formField]="countryForm.country">
            @for (c of countries; track c.code) {
              <option [value]="c.name">{{ c.name }} </option>
            }
        </select>
      </label>
      @if ((countryForm.country().touched() || countryForm.country().dirty()) && countryForm.country().invalid()) {
        @let countryErrors = countryForm.country().errors();
        @for (e of countryErrors; track $index) {
          <p>{{ e.message }}</p>
        }
      }
    </form>
    <button [disabled]="isLoading() || !hasRequiredData()" (click)="generateImage($event)">Generate</button>
  </div>
  <app-image-display [image]="newImage()" [isLoading]="isLoading()" [isError]="isError()" [errMsg]="errorMsg()" />
</div>
