<div class="image-card">
  <h2 class="image-title">{{ pageTitle() }}</h2>
  <div class="w-full max-w-xl mx-auto">
    <form novalidate>
      @let countryField = countryForm['country'];
      <label for="country">
        <span>Country:</span>
        <select [formField]="countryField">
            @for (c of countries; track c.code) {
              <option [value]="c.name">{{ c.name }} </option>
            }
        </select>
      </label>
      <app-form-field-error [formField]="countryField" />
      <button type="submit" [disabled]="isLoading() || !hasRequiredData()" (click)="generateImage($event)">Generate</button>
    </form>

  </div>
  <app-image-display [image]="newImage()" [isLoading]="isLoading()" [isError]="isError()" [errMsg]="errorMsg()" />
</div>
